<div ng-controller="Acta_satisfacccion_controller" class="window-wrapper">
    <div class="window-body">
        <form id="acta_satis" name="acta_satis" class="form-horizontal no-print" autocomplete="off">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title center">ACTA DE SATISFACCION</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-3 col-md-3">
                                <label>Fecha<span class="req">*</span></label>
                                <input type="date" ng-model="json.fecha" ng-required="true" class="form-control" name="FECHA">
                            </div>
                            <div class="col-xs-3">
                                <label>Asignar A:<span class="req">*</span></label>
                                <select class="form-control" ng-required="true" ng-options="c.usuario as c.nombre_usuario for c in directivos" ng-model="json.asignado_a" name="ASIGNADO A:">
                                    <option value=""></option>
                                </select>
                            </div>
                            <!--TIPO DE ACTA-->
                            <div class="col-xs-12" style="margin-top:15px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left">TIPO DE ACTA</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="act" name="TIPO DE ACTA" value="1" ng-required="true" ng-model="json.tipo_acta" />Acta Total
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="act" name="TIPO DE ACTA" value="2" ng-model="json.tipo_acta" />Acta Parcial
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="act" name="TIPO DE ACTA" value="3" ng-model="json.tipo_acta" />Nota Credito
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left">TIPO DE COMPROMISO</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div class="col-xs-1">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="1" ng-required="true" ng-model="json.tipo_comp" />Contrato
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="2" ng-model="json.tipo_comp" />Orden de Servicio
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="3" ng-model="json.tipo_comp" />Orden de Compra
                                                </label>
                                            </div>
                                            <!--<div class="col-xs-1">
                        <label class="radio-inline">
                            <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="4" ng-model="json.tipo_comp" />Otro
                        </label>
                    </div>-->
                                            <div class="col-xs-1">
                                                <label>Cual?</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input class="form-control" ng-disabled="json.tipo_comp < 4" ng-model="json.cual_compromiso" />
                                            </div>
                                            <div class="col-xs-1">
                                                <label>Factura:<span class="req">*</span></label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label><input class="form-control" type="text" ng-model="json.nro_factura" /></label>
                                            </div>
                                            <!--<div class="col-xs-1"><button type="button" ng-show="rp" class="btn btn-primary btn-imprimir" ng-click="openrp()" style="width:90px">Buscar RP</button></div>-->
                                            <div class="col-xs-1"><button type="button" id="brRP" ng-show="false" class="btn btn-primary btn-imprimir" ng-click="openrp()">Buscar RP</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title center">INFORMACIÓN DEL PROVEEDOR Y/O CONTRATISTA</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-6">
                                            <div class="col-xs-12">
                                                <label>Proveedor o Contratista:<span class="req">*</span></label>
                                                <ss-busqueda-rapida data="dataproveedor" resultado="rsproveedor" key="key3"></ss-busqueda-rapida>
                                            </div>
                                            <div class="col-xs-12">
                                                <label>N° de Orden o Contrato:</label>
                                                <ss-busqueda-rapida data="data_orden" resultado="rs_orden" key="key2"></ss-busqueda-rapida>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>Remision:<span class="req">*</span></label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label><input class="form-control" name="REMISION" ng-required="true" type="text" ng-model="json.remision" /></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Objeto o descripción del bien o servicio Recibido:<span class="req">*</span></label>
                                        </div>
                                        <div class="col-xs-2">
                                            <textarea class="form-control" ng-required="true" name="DESCRIPCION DE BIEN O SERVICIO" ng-model="json.objeto_beneficio" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left">PRESTACIÓN DEL SERVICIO</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-3 col-md-2">
                                            <label>Fecha de inicio<span class="req">*</span></label>
                                            <input type="date" ng-model="json.fecha_inicio" ng-required="true" class="form-control" name="FECHA DE INICIO">
                                        </div>
                                        <div class="col-xs-3 col-md-2">
                                            <label>Fecha de terminacion<span class="req">*</span></label>
                                            <input type="date" ng-model="json.fecha_terminacion" ng-required="true" class="form-control" name="FECHA DE TERMINACION">
                                        </div>
                                        <button ng-show="false" type="button" class="btn btn-primary btn-imprimir" ng-click="open()" id="brCeco" style="width:90px"> Si </button>
                                        <div class="col-xs-12" style="margin-top:15px;">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>AF</th>
                                                        <th>NRO PEDIDO</th>
                                                        <th>NRO SRP</th>
                                                        <th style="width:100px">CECO</th>
                                                        <th>CUENTA</th>
                                                        <th>NRO RP</th>
                                                        <th>VALOR MAX</th>
                                                        <th>VALOR</th>
                                                        <th>OTROS</th>
                                                        <th>IVA</th>
                                                        <th>SUBTOTAL</th>
                                                        <th>SALDO DISPONIBLE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="checkbox" ng-true-value="'SI'" ng-false-value="'NO'" ng-model="json2.activo" /></td>
                                                        <td class="cursor"><input readonly class="form-control cursor" id="ceco" ng-click="open()" ng-model="json2.nro_pedido" /></td>
                                                        <td><input readonly class="form-control" ng-model="json2.nro_srp" /></td>
                                                        <td><input readonly class="form-control" ng-model="json2.ceco" /></td>
                                                        <td><input readonly class="form-control" ng-model="json2.cuenta" /></td>
                                                        <td><input readonly class="form-control" ng-model="json2.nro_rp" /></td>
                                                        <td><input readonly type="text" class="form-control" ng-model="formatnumber(json2.valor_max)" /></td>
                                                        <td><input type="number" class="form-control" ng-model="json2.valor" /></td>
                                                        <td><input type="number" class="form-control" ng-model="json2.otros" /></td>
                                                        <td><input type="number" class="form-control" ng-model="json2.iva" /></td>
                                                        <td><input readonly type="number" class="form-control" ng-model="json2.subtotal" /></td>
                                                        <td><input readonly type="number" class="form-control" ng-model="json2.saldo_disponible" /></td>
                                                        <td style="text-align:center" ng-show="sh_add">
                                                            <button type="button" class="btn btn-primary btn-circle" ng-click="add()" id="add">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                            </button>
                                                        </td>
                                                        <td style="text-align:center" ng-show="sh_update">
                                                            <button type="button" class="btn btn-primary btn-circle" ng-click="confir_edit()" id="add">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="item in tabla" ng-class="trdell" ng-init="show=true">
                                                        <td>{{item.activo}}</td>
                                                        <td>{{item.nro_pedido}}</td>
                                                        <td>{{item.nro_srp}}</td>
                                                        <td>{{item.ceco}}</td>
                                                        <td>{{item.cuenta}}</td>
                                                        <td>{{item.nro_rp}}</td>
                                                        <td>{{formatnumber(item.valor_max)}}</td>
                                                        <td>{{formatnumber(item.valor)}}</td>
                                                        <td>{{formatnumber(item.otros)}}</td>
                                                        <td>{{formatnumber(item.iva)}}</td>
                                                        <td>{{formatnumber(item.subtotal)}}</td>
                                                        <td>{{formatnumber(item.saldo_disponible)}}</td>
                                                        <td style="text-align: center;" ng-show="sh_edit">
                                                            <button type="button" class="btn btn-primary btn-circle" ng-click="load_edit(item,$index)" id="add"><i class="glyphicon glyphicon-pencil"></i></button>
                                                        </td>
                                                        <td style="text-align: center;" ng-show="sh_add">
                                                            <span class="btn btn-danger btn-xs" ng-show="show" ng-disabled="delete" ng-click="deleteservicio($index)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                Remover
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title center"><b>ASPECTOS FINANCIEROS</b></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-2">
                                            <label>Subtotal</label>
                                            <input class="form-control" ng-model="formatnumber(json.subtotal)" readonly />
                                        </div>
                                        <div class="col-xs-2">
                                            <label>Iva</label>
                                            <input class="form-control" ng-model="formatnumber(json.iva)" readonly />
                                        </div>
                                        <div class="col-xs-2">
                                            <label>Total</label>
                                            <input class="form-control" ng-model="formatnumber(json.total)" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12">
                                                <div class="col-xs-2"><label>ELABORADO POR:</label></div>
                                                <div class="col-xs-3">
                                                    <input class="form-control" type="text" readonly ng-model="json.elaborado_por" />
                                                </div>
                                                <div class="col-xs-3"><label>DEPENDENCIA DEL SOLICITANTE:</label></div>
                                                <div class="col-xs-3">
                                                    <input class="form-control" type="text" readonly ng-model="json.dependencia" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-12">
                                                    <div class="col-xs-4"><img style="width:200px;padding:5px" src="{{json.ruta_firma}}" /></div>
                                                </div>
                                                <div class="col-xs-7">
                                                    <label>AUTORIZA:</label>
                                                    <input class="form-control" type="text" readonly ng-model="json.autoriza" />
                                                </div>
                                                <div class="col-xs-7">
                                                    <label>CARGO:</label>
                                                    <input class="form-control" type="text" readonly ng-model="json.cargo" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>OBSERVACIÓN:</label>
                                                <div class="col-xs-12">
                                                    <textarea class="form-control" ng-model="json.observacion" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!--IMPRIMIR========================================================================================-->
        <div class="print">
            <div class="col-xs-12">
                <table id="bord" class="table-hover">
                    <tbody>
                        <tr>
                            <td id="bord" rowspan="4" style="text-align:center;width:20% "><img style="width:200px;padding:5px" src="{{ruta}}" /></td>

                            <td id="bord" rowspan="4" style="text-align:center;width:52%"><h3><b>ACTA DE SATISFACCION</b></h3></td>
                            <td id="bord"><b>Codigo:&nbsp;</b><span>R-ADF-008</span></td>
                        </tr>

                        <tr><td id="bord"><b>Version:&nbsp;</b><span><b> 005 </b></span></td></tr>
                        <tr>
                            <td id="bord"><b>Fecha Vigencia:</b><span><b> 09-06-2022 </b></span></td>
                        </tr>
                        <tr>
                            <td id="bord"><b>Pag</b><span> 1 de 1</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-xs-2 col-md-2">
                                <label>Fecha<span class="req">*</span></label>
                            </div>
                            <div class="col-xs-2">
                                <input type="date" ng-model="json.fecha" ng-required="true" class="form-control" name="FECHA">
                            </div>
                            <div class="col-xs-2"><label>Consecutivo</label></div>
                            <div class="col-xs-2"><b>{{json.consecutivo}}</b></div>
                            <!--TIPO DE ACTA-->
                            <div class="col-xs-12" style="margin-top:15px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left">TIPO DE ACTA</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="act" name="TIPO DE ACTA" value="1" ng-required="true" ng-model="json.tipo_acta" />Acta Total
                                                </label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label class="radio-inline">
                                                    <input type="radio" id="act" name="TIPO DE ACTA" value="2" ng-model="json.tipo_acta" />Acta Parcial
                                                </label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label class="radio-inline">
                                                    <input type="radio" id="act" name="TIPO DE ACTA" value="3" ng-model="json.tipo_acta" />Nota Credito
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left">TIPO DE COMPROMISO</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="1" ng-required="true" ng-model="json.tipo_comp" />Contrato
                                                </label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="2" ng-model="json.tipo_comp" />Orden de Servicio
                                                </label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="3" ng-model="json.tipo_comp" />Orden de Compra
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label class="radio-inline">
                                                    <input type="radio" id="comp" name="TIPO DE COMPROMISO" value="4" ng-model="json.tipo_comp" />Otro
                                                </label>
                                            </div>
                                            <div class="col-xs-1">
                                                <label>Cual?</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input class="form-control" ng-disabled="json.tipo_comp < 4" ng-model="json.cual_compromiso" />
                                            </div>
                                            <div class="col-xs-2">
                                                <label>N° de Factura:<span class="req">*</span></label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label><input class="form-control" ng-required="true" name="FACTURA" type="text" ng-model="json.nro_factura" /></label>
                                            </div>
                                            <!--<div class="col-xs-1"><button type="button" ng-show="rp" class="btn btn-primary btn-imprimir" ng-click="openrp()" style="width:90px">Buscar RP</button></div>-->
                                            <div class="col-xs-1"><button type="button" id="brRP" ng-show="false" class="btn btn-primary btn-imprimir" ng-click="openrp()">Buscar RP</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left"><b>INFORMACION DEL PROVEEDOR Y/O CONTRATISTA</b></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-8">
                                            <label>Proveedor o Contratista:<span class="req">*</span></label>
                                            {{json.nit_proveedor}} &nbsp; {{json.nombre_proveedor}}
                                        </div>
                                        <div class="col-xs-4">
                                            <label>N° de Orden o Contrato:</label>
                                            {{json.nro_oden}}
                                        </div>
                                        <!-- <div class="col-xs-2">
                                            <label>Remision:<span class="req">*</span></label>
                                        </div>
                                        <div class="col-xs-2">
                                            <label><input class="form-control" ng-required="true" type="text" ng-model="json.remision" /></label>
                                        </div> -->
                                        <div class="col-xs-12">
                                            <label>Objeto o descripción del bien o servicio Recibido:</label>
                                            {{json.objeto_beneficio}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left"><b>PRESTACION DEL SERVICIO</b></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-3 col-md-2">
                                            <label>Fecha de inicio<span class="req">*</span></label>
                                            <input type="date" ng-model="json.fecha_inicio" ng-required="true" class="form-control" name="FECHA DE INICIO">
                                        </div>
                                        <div class="col-xs-3 col-md-2">
                                            <label>Fecha de terminacion<span class="req">*</span></label>
                                            <input type="date" ng-model="json.fecha_terminacion" ng-required="true" class="form-control" name="FECHA DE TERMINACION">
                                        </div>
                                        <button ng-show="false" type="button" class="btn btn-primary btn-imprimir" ng-click="open()" id="brCeco" style="width:90px"> Si </button>
                                        <div class="col-xs-12" style="margin-top:15px;">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>AF</th>
                                                        <th>PEDIDO</th>
                                                        <th>CECO</th>
                                                        <th>CUENTA</th>
                                                        <th>NRO RP</th>
                                                        <th>VALOR</th>
                                                        <th>OTROS</th>
                                                        <th>IVA</th>
                                                        <th>SUBTOTAL</th>
                                                        <th>SALDO DISPONIBLE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in tabla" ng-class="trdell" ng-init="show=true">
                                                        <td>{{item.activo}}</td>
                                                        <td>{{item.nro_pedido}}</td>
                                                        <td>{{item.ceco}}</td>
                                                        <td>{{item.cuenta}}</td>
                                                        <td>{{item.nro_rp}}</td>
                                                        <td>{{formatnumber(item.valor)}}</td>
                                                        <td>{{formatnumber(item.otros)}}</td>
                                                        <td>{{formatnumber(item.iva)}}</td>
                                                        <td>{{formatnumber(item.subtotal)}}</td>
                                                        <td>{{formatnumber(item.saldo_disponible)}}</td>
                                                        <td style="text-align: center;" ng-show="sh_edit">
                                                            <button type="button" class="btn btn-primary btn-circle" ng-click="load_edit(item,$index)" id="add"><i class="glyphicon glyphicon-pencil"></i></button>
                                                        </td>
                                                        <td style="text-align: center;" ng-show="sh_add">
                                                            <span class="btn btn-danger btn-xs" ng-show="show" ng-disabled="delete" ng-click="deleteservicio($index)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                Remover
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title left"><b>ASPECTOS FINANCIEROS</b></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-2">
                                            <label>Subtotal</label>
                                            <input class="form-control" ng-model="formatnumber(json.subtotal)" readonly />
                                        </div>
                                        <div class="col-xs-2">
                                            <label>Iva</label>
                                            <input class="form-control" ng-model="formatnumber(json.iva)" readonly />
                                        </div>
                                        <div class="col-xs-2">
                                            <label>Total</label>
                                            <input class="form-control" ng-model="formatnumber(json.total)" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <table class="table">
                                    <tr>
                                        <td><label>ELABORADO POR:</label></td>
                                        <td>{{json.elaborado_por}}</td>
                                        <td><label>DEPENDENCIA DEL SOLICITANTE:</label></td>
                                        <td>{{json.dependencia}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><div class="col-xs-4"><img style="width:300px;padding:5px" src="{{json.ruta_firma}}" /></div><br /> <label>AUTORIZA:</label><br />{{json.aprobado_por}}</td>
                                        <td colspan="2" style="text-align:center">
                                            <label>OBSERVACION:</label><br />
                                            {{json.observacion}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="no-print">
        <div class="waiting-wrapper" ng-class="openWait? 'open' : ''">
            <div class="waiting">
                <div id="modal" style="z-index:3000" class="sv-modal-wrapper no-print" ng-class="openModalPRO ? 'active':''">
                    <div class="sv-modal">
                        <div class="sv-modal-head">
                            <label style="color:#fff">DETALLE RECURSO PRESUPUESTAL</label>
                            <button style="margin-top:7px" ng-click="cerrar_detalle()" class="btn btn-default btn-xs"><b style="color:red">X</b></button>
                        </div>
                        <div class="sv-modal-body">
                            <div class="sv-content">
                                <div class="col-xs-12">
                                    <div class="col-xs-2">
                                        <label>Nro. RP</label>
                                    </div>
                                    <div class="col-xs-3">
                                        {{numero_rp}}
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Saldo Inicial</label>
                                    </div>
                                    <div class="col-xs-3">
                                        {{formatnumber(saldo_inicial)}}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">DETALLE DE MOVIMIENTOS</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12" style="overflow:auto;height:450px;max-height:450px;">
                                                <table class="table table-bordered table-hover table-striped" id="myTable">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center;">FACTURA</th>
                                                            <th style="text-align:center;">FECHA</th>
                                                            <th style="text-align:center;">VALOR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="text" class="form-control" ng-model="json3.factura" /></td>
                                                            <td><input type="date" class="form-control" ng-model="json3.fecha" /></td>
                                                            <td><input type="number" class="form-control" ng-model="json3.valor" /></td>
                                                            <td style="text-align:center" ng-show="sh_add_rp">
                                                                <!--<button type="button" class="btn btn-primary btn-circle" ng-click="add_rp()" id="add">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </button>-->
                                                               <button type="button" ng-show="rp == 1" class="btn btn-primary btn-imprimir" ng-click="guardar_rp()" style="width:90px">Guardar</button>
                                                            </td>
                                                            <td style="text-align:center" ng-show="sh_update_rp">
                                                                <button type="button" class="btn btn-primary btn-circle" ng-click="confir_edit()" id="add">
                                                                    <i class="glyphicon glyphicon-ok"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="item in detalle_rp" ng-class="trdell" ng-init="show=true">
                                                            <td>{{item.factura}}</td>
                                                            <td style="width:124px;">{{item.fecha}}</td>
                                                            <td>{{formatnumber(item.valor)}}</td>
                                                            <td style="text-align: center;">
                                                                <span ng-show="item.actual == 1" class="btn btn-danger btn-xs" ng-click="delete_detallerp($index)">
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-7" style="float:right">
                                            <div class="col-xs-4">
                                                <label>TOTAL:</label>
                                            </div>
                                            <div class="col-xs-8">
                                                {{formatnumber(total)}}
                                            </div>
                                            <div class="col-xs-4"><label>DISPONIBLE:</label></div>
                                            <div class="col-xs-8">{{formatnumber(disponible)}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-print">
        <div class="waiting-wrapper" style="z-index:3000" ng-class="modal ? 'open' : ''">
            <div class="waiting">
                <img src="fonts/animatedEllipse.gif" />
                El servidor esta procesando la informacion
            </div>
        </div>
    </div>
    <div class="window-footer">
        <ss-barra formulario="#acta_satis"
                  showbtn="showbtn"
                  disabledbtn="disabledbtn"
                  nuevo="nuevo()"
                  editar="editar()"
                  guardar="guardar()"
                  actualizar="actualizar()"
                  eliminar="eliminar()"
                  imprimir="imprimir()"
                  cancelar="cancelar()">
        </ss-barra>
        <ss-buscador data="dataActa" resultado="rsActa"></ss-buscador>
        <ss-buscador data="dataRP" resultado="rsRP"></ss-buscador>
        <ss-buscador data="dataCECO" resultado="rsCECO"></ss-buscador>
    </div>
</div>


<style>

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
        padding:3px;
    }

    .center {
        text-align: center;
    }

    .sv-modal {
        max-width: 600px;
    }

    .cursor{
        cursor:pointer;
    }


    #bord {
        border: solid 1px;
        line-height: 20px;
    }
</style>

