<div ng-controller="ComoDato_Controller" class="window-wrapper">
    <div class="window-body">
        <form id="reporte" name="reporte" class="form-horizontal no-print" autocomplete="off">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">REPORTE COMODATO</h3>
                        </div>
                        <div class="panel-body">

                            <div class="col-xs-2">
                                <label>Buscar</label>
                                <input class="form-control" ng-model="filtro" ng-change="filtro = filtro.toUpperCase()" />
                            </div>
                            <div class="col-xs-1">
                                <label></label>
                                <a class="no-print" id="test" ng-click="fnExcelReport();">
                                    <img src="img/Excel_15.png" style="height:30px;display:block;cursor:pointer" />
                                </a>
                            </div>
                            <div class="col-xs-1">
                                <label></label>
                                <button style="margin-top:10px;" id="btn_obs" ng-click="abrirmodal(item.codigo,1)" type="button" class="btn btn-success">Crear</button>
                            </div>
                            <div class="col-xs-12" style="margin-top:15px;">
                                <div>
                                    <table class="table table-bordered table-hover table-striped" id="myTable">
                                        <thead>
                                            <tr>

                                                <th style="text-align: center">ITEM</th>
                                                <th style="text-align: center">PLACA</th>
                                                <th style="text-align: center">ESTADO</th>
                                                <th style="text-align: center">SERIAL</th>
                                                <th style="text-align: center">USUARIO</th>
                                                <th style="text-align: center">CONTRATO</th>
                                                <th style="text-align: center">CEDULA</th>
                                                <th style="text-align: center">DESCRIPCION</th>
                                                <th style="text-align: center">TERCERO</th>
                                                <th style="text-align: center">VALOR</th>
                                                <th style="text-align: center">CECO</th>
                                                <th style="text-align: center">EDITAR</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="cursor:default" ng-repeat="item in listado_com | filter: filtro " ng-class="trdell">
                                                <td style="text-align: center">{{$index + 1}}</td>
                                                <td style="text-align: center">{{item.placa}}</td>
                                                <td style="text-align: center">{{item.estado}}</td>
                                                <td style="text-align: left">{{item.serial}}</td>
                                                <td style="text-align: center">{{item.usuario}}</td>
                                                <td style="text-align: center">{{item.contrato}}</td>
                                                <td style="text-align: center">{{item.cedula}}</td>
                                                <td style="text-align: center">{{item.descripcion}}</td>
                                                <td style="text-align: center">{{item.tercero}}</td>
                                                <td style="text-align: center">{{item.valor}}</td>
                                                <td style="text-align: center">{{item.ceco}}</td>
                                                <td style="text-align: center"> <button style="margin-top:10px;" id="btn_obs" ng-click="abrirmodal(item.codigo,2)" type="button" class="btn btn-success">Editar</button></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form id="comodato" name="comodato" class="form-horizontal no-print" autocomplete="off">
        <div class="no-print">
            <div class="waiting-wrapper" ng-class="openWaiting ? 'open' : ''">
                <div class="waiting">
                    <div id="modal" style="z-index:3000" class="sv-modal-wrapper no-print" ng-class="openModalPRO ? 'active':''">
                        <div class="sv-modal">
                            <div class="sv-modal-head">
                                <label style="color:#fff">VISUALIZACION DE COMODATO</label>
                                <button ng-click="closePRO()" class="btn btn-default btn-xs">X</button>
                            </div>
                            <div class="sv-modal-body">
                                <div class="sv-content">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"> INFORMACION COMODATO</h3>
                                                </div>

                                                <div class="panel-body">
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>PLACA<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.placa" ng-required="true" class="form-control" name="PLACA">
                                                    </div>

                                                    <div class="col-xs-12 col-md-3">
                                                        <label>ESTADO <span class="req">*</span></label>
                                                        <select class="form-control" ng-model="json.estado" ng-required="true" name="TIPO" id="tipo">
                                                            <option value="DISPONIBLE">DISPONIBLE</option>
                                                            <option value="ENTREGADO">ENTREGADO</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">

                                                        <label>SERIAL<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.serial" ng-required="true" class="form-control" name="SERIAL">
                                                    </div>

                                                    <div class="col-xs-12 col-md-3">
                                                        <label>USUARIO<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.usuario" ng-required="true" class="form-control" name="USUARIO"><!-- SELECT USUARIOS iterar-->
                                                    </div>

                                                    <div class="col-xs-12 col-md-3">
                                                        <label>CONTRATO<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.contrato" ng-required="true" class="form-control" name="CONTRATO">
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>DESCRIPCION<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.descripcion" ng-required="true" class="form-control" name="DESCRIPCION">
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>TERCERO<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.tercero" ng-required="true" class="form-control" name="TERCERO">
                                                    </div>

                                                    <div class="col-xs-12 col-md-3">
                                                        <label>VALOR<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.valor" ng-required="true" class="form-control" name="VALOR">
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>CECO<span class="req">*</span></label>
                                                        <input type="text" id="ced" ng-model="json.ceco" ng-required="true" class="form-control" name="CECO">
                                                    </div>
                                                </div>

                                            </div>
                                            <button style="margin-top:10px;" id="btn_obs" ng-show="showtbn1" ng-click="UpdateComodato()" type="button" class="btn btn-success">Actualizar</button>
                                            <button style="margin-top:10px;" id="btn_obs" ng-show="showtbn2" ng-click="guardar()" type="button" class="btn btn-success">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="window-footer">
        <div class="col-xs-12 barra">
            <div class="btn-group">
                <button id="reporte-guardar" type="button" class="btn btn-primary btn-guardar" ng-click="load()">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Refrescar
                </button>
            </div>
        </div>
    </div>
</div>
<style>

    .innerb {
        overflow: auto;
        max-height: 100px;
    }

    #bord {
        border: solid 1px;
        line-height: 20px;
    }

    .table-report {
        border: solid 1px;
    }

    .btn-custom {
        display: block;
        height: 25px;
        text-align: center;
        border: 1px solid;
        border-color: #ccc;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .sv-modal {
        max-width: 1000px;
    }

    .centermodal {
        width: 50%;
        max-width: 200px;
        min-width: 100px;
        margin: 0 auto;
    }

    .botonmodal {
        margin-top: 18px;
        display: block;
        border: 3px solid;
        border-color: #ccc;
    }

    .radios {
    }

    .in-line-content.title label {
        color: #2196F3;
    }

        .in-line-content.title label.float-left {
            padding-top: 0;
        }

    .in-line-content .border {
        overflow: hidden;
        padding-bottom: 5px;
    }

    #bord {
        border: solid 1px;
        line-height: 20px;
    }

    .table-report {
        border: solid 1px;
    }

    .btn-custom {
        display: block;
        height: 25px;
        text-align: center;
        border: 1px solid;
        border-color: #ccc;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }


    .centermodal {
        width: 50%;
        max-width: 200px;
        min-width: 100px;
        margin: 0 auto;
    }

    .botonmodal {
        margin-top: 18px;
        display: block;
        border: 3px solid;
        border-color: #ccc;
    }

    .radios {
    }

    .in-line-content.title label {
        color: #2196F3;
    }

        .in-line-content.title label.float-left {
            padding-top: 0;
        }

    .in-line-content .border {
        overflow: hidden;
        padding-bottom: 5px;
    }

    .space-td {
        width: 40px;
    }

    .space-check {
        width: 30px;
    }
</style>
<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>

<script>
    $("#btnexport").click(function (e) {
        exclude: ".table .table-bordered",
            window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
        e.preventDefault();
    });

    $("#btnexport").click(function (e) {
        exclude: ".table .table-bordered",
            window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
        e.preventDefault();
    });
</script>