<div ng-controller="herramientascontroller" class="window-wrapper">
    <div class="window-body">
        <form id="herramientas" name="herramientas" class="form-horizontal" autocomplete="off">
            <div class="col-xs-12">
                <div class="col-xs-12" style="margin-top:60px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ingreso Herramienta</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-12 col-md-4">
                                <label># Ident.<span class="req">*</span></label>
                                <input type="text" ng-model="json.cedula_emp" class="form-control" name="# IDENT.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="window-footer">
        <ss-barra formulario="#herramientas"
                  showbtn="showbtn"
                  disabledbtn="disabledbtn"
                  nuevo="nuevo()"
                  editar="editar()"
                  guardar="guardar()"
                  actualizar="actualizar()"
                  eliminar="eliminar()">
        </ss-barra>
        <ss-buscador data="dataEmpleado" resultado="rsEmpleado"></ss-buscador>
    </div>
</div>
