<div class="col-xs-12 barra">
    <div class="btn-group">
        <button id="{{formulario}}-buscar" type="button" class="btn btn-primary btn-buscar"
                ng-show="showBtn.buscar" ng-click="buscar()" ng-disabled="state.buscar">
            <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>
        <button id="{{formulario}}-imprimir" type="button" class="btn btn-primary btn-imprimir"
                ng-show="showBtn.imprimir" ng-disabled="state.imprimir" ng-click="imprimir()">
            <i class="fa fa-print" aria-hidden="true"></i> imprimir
        </button>
        <button id="{{formulario}}-nuevo" type="button" class="btn btn-primary btn-nuevo"
                ng-show="showBtn.nuevo" ng-disabled="state.nuevo" ng-click="nuevo()">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear
        </button>
        <button id="{{formulario}}-guardar" type="button" class="btn btn-primary btn-guardar"
                ng-show="showBtn.guardar" ng-click="guardar()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
        </button>
        <button id="{{formulario}}-editar" type="button" class="btn btn-primary btn-editar"
                ng-show="showBtn.editar" ng-disabled="state.editar" ng-click="editar()">
            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
        <button id="{{formulario}}-actualizar" type="button" class="btn btn-primary btn-actualizar"
                ng-show="showBtn.actualizar" ng-click="actualizar()">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Actualizar
        </button>
        <!--<button id="{{formulario}}-eliminar" type="button" class="btn btn-primary btn-eliminar"
                ng-show="showBtn.eliminar" ng-disabled="state.eliminar" ng-click="eliminar()">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar
        </button>-->
        <button id="{{formulario}}-borrar" type="button" class="btn btn-primary btn-borrar"
                ng-show="showBtn.borrar" ng-disabled="state.eliminar" ng-click="borrar()">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmar
        </button>
        <button id="{{formulario}}-cancelar" type="button" class="btn btn-primary btn-cancelar"
                ng-show="showBtn.cancelar" ng-click="cancelar()">
            <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
        </button>
        <button id="{{formulario}}-cerrar" type="button" class="btn btn-primary btn-cerrar"
                ng-show="showBtn.cerrar" ng-click="cerrar()">
            <i class="fa fa-times" aria-hidden="true"></i> Cerrar
        </button>
    </div>
</div>

<div class="waiting-wrapper" ng-class="openWaiting ? 'open' : ''">
    <div class="waiting">
        <img src="../../../fonts/animatedEllipse.gif" />
        El servidor está procesando la información
    </div>
</div>